/* bg-color = #FFEFB2 */
/* main-color = #5BC6AC */
/* white = #F9F9F9 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffefb2;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  width: 100vw;
  min-height: 100vh;

  font-family: "Lato", sans-serif;
}

.card {
  background-color: #f9f9f9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  width: 650px;
  height: 280px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;

  margin: 10px;
}

.card__left {
  background-color: #5bc6ac;
  width: 35%;
  height: 100%;
  border-radius: 10px 0 0 10px;

  display: flex;
  flex-direction: column;
}

.card__left-img-box {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__left-img {
  width: 70%;
}

.card__right {
  height: 100%;
  width: 65%;

  color: #484946;
  padding: 15px;
}

.card__right-id-box {
  margin-bottom: 25px;
}

.card__right-id {
  margin-top: 10px;
  text-align: center;
}
.card__right-id-name {
  display: block;
  margin-bottom: -12px;

  font-size: 22px;
}

.card__right-id-batch {
  font-size: 15px;
  color: #f9f9f9;

  display: inline-block;
  background-color: #484946;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}

.card__right-detail-box {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.card__right-detail {
  width: 50%;
  margin-right: 10px;
}

.card__right-detail-group {
  width: 100%;
  margin-bottom: 15px;
}
.card__right-detail-label {
  font-size: 17px;
  font-weight: 700;
}

.card__right-detail-data {
  border-bottom: 2px solid #5bc6ac;
  width: 100%;
  font-size: 14.5px;
}

.card__right-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.card__right-social-box:not(:last-child) {
  display: block;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

.card__right-social-box a {
  color: #484946;
  cursor: pointer;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;

  font-size: 25px;
  transition: all 0.1s;
}

.card__right-social-box a:hover {
  font-size: 30px;
}

/* a {
  color: #484946;
  cursor: pointer;
  text-decoration: none;
}

.social {
  display: flex;
  margin-top: 1.5rem;
  list-style: none;
}

.social li {
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
}

.social a {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  justify-content: center;

  width: 2rem;
} */
